@model IEnumerable<MovieShopProxy.Models.Movie>
@{ 
    Layout = null;
}
<html>
    <head>
        <title>Movie Shop - Buy The Newest Movies Online!</title>
        <style>
            body{
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
            #backgroundImage{
                display: block;
                position: fixed;
                top: -5px;
                left: -5px;
                bottom: -5px;
                right: -5px;
                background-image: url("http://leaguematch.altervista.org/back.jpg");
                background-size: cover;
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -ms-filter: blur(5px);
                z-index: -9999;
            }
            #filterHolder{
                position: fixed;
                width: 10%;
                background-color: rgba(100, 100, 100, 0.25);
                top: 30%;
                transition: 0.2s;
            }
            #filterHolder:hover{
                background-color: rgba(100, 100, 100, 0.75);
            }
            #bodyHolder{
                position: absolute;
                width: 80%;
                height: 150%;
                top: 7%;
                margin-left: 10%;
                margin-right: 10%;
            }
            .moviePoster{
                position: relative;
                display: block;
                width: 63%;
                height: 74%;
                margin: auto;
                background-size: 100% 100%;
                box-shadow: 5px 5px 5px black;
            }
            .moviePoster:hover{
                transform: scale(1.1);
            }
            .moviePoster:hover > .movieInformation{
                opacity: 1;
            }
            .moviePoster:active > .movieInformation{
                background-color: rgba(0, 100, 0, 0.75);
            }
            .movieTable{
                border-spacing: 0px;
                height: 28%;
                width: 100%;
            }
            td{
                width: 10%;
                text-align: center;
            }
            #filterHeader{
                width: 100%;
                margin-top: 5%;
                color: white;
                font-family: Tahoma;
                font-size: 2.3vh;
                text-align: center;
            }
            .filterTable, .filterTable2{
                border-spacing: 0px;
                position: relative;
                margin-top: 15%;
                color: white;
                font-family: Tahoma;
                font-size: 1.7vh;
            }
            .filterTable td, .filterTable2 td{
                text-align: left;
            }
            .filterTable td select, .filterTable2 td select{
                width: 100%;
                font-family: Tahoma;
                font-size: 1.7vh;
                text-indent: 0px;
            }
            th{
                text-align: center;
            }
            .filterTable2{
                margin-bottom: 5%;
            }
            #searchHolder{
                position: fixed;
                top: 0px;
                width: 100%;
                height: 5%;
                background: -webkit-linear-gradient(rgba(100, 100, 100, 1), rgba(100, 100, 100, 0));
                text-align: center;
                z-index: 9999;
                transition: 0.2s;
            }
            #searchHolder:hover{
                background-color: rgba(100, 100, 100, 0.75);
            }
            #searchForm input{
                font-size: 1.5vh;
            }
            #searchHolderTable{
                position: relative;
                border-spacing: 0px;
                height: 100%;
            }
            .movieInformation{
                position: relative;
                height: 101%;
                width: 101%;
                background-color: rgba(0, 0, 0, 0.75);
                color: white;
                font-family: Tahoma;
                font-size: 1.5vh;
                opacity: 0;
                text-align: left;
            }
            a.moviePoster:visited > #testDiv{
                background-color: green;
            }
            #modalOpen{
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.75);
                z-index: -99999;
                transition: 0.2s;
            }
            #modalOpen:target{
                display: block;
                z-index: 99999;
            }
            #modalOpen div{
                position: absolute;
                top: 25%;
                left: 25%;
                height: 50%;
                width: 50%;
            }
            #modalOpen a{
                position: absolute;
                top: -3%;
                right: -1.5%;
                width: 3%;
                text-decoration: none;
                background-color: black;
                color: white;
                font-family: monospace;
                font-size: 3vh;
                text-align: center;
                font-weight: bold;
            }
            #modalOpen a:hover{
                color: black;
                background-color: red;
            }
            #modalOpen a:active{
                color: white;
                background-color: red;
            }
        </style>
    </head>
    <body>
        <div id="backgroundImage"></div>
        <div id="searchHolder">
            <table id="searchHolderTable">
                <tr>
                    <td>
                        <form id="searchForm" method="post" action=""><!--Remember to add the action method in order for the search to work!-->
                            <input type="text" />
                            <input type="submit" value="Search Our Shop!" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div id="filterHolder">
            <div id="filterHeader">Movie Filter</div>
            <table class="filterTable">
                <tr>
                    <th>Genre:</th>
                </tr>
                <tr>
                    <td>
                        <select><!--Remember to fetch these from the database!-->
                            <option>Unspecified</option>
                            <option>Comedy</option>
                            <option>Horror</option>
                            <option>Action</option>
                            <option>Drama</option>
                            <option>Musical</option>
                            <option>War</option>
                            <option>History</option>
                            <option>Animated</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table class="filterTable">
                <tr>
                    <th>Release Date:</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="first" />
                        <label for="first">1980-1989</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="second" />
                        <label for="second">1990-1999</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="third" />
                        <label for="third">2000-2009</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="fourth" />
                        <label for="fourth">2009-Present</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <table class="filterTable2">
                <tr>
                    <th>Rating:</th>
                </tr>
                <tr>
                    <td>
                        <select><!--Remember to fetch these from the database!-->
                            <option>Unspecified</option>
                            <option>1+ Stars</option>
                            <option>2+ Stars</option>
                            <option>3+ Stars</option>
                            <option>4+ Stars</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div id="modalOpen">
            <div>
                <a id="modalClose" href="#closeModal" onclick="closeModal();">X</a>
                <iframe id="player" style="width: 100%; height: 100%;" src="https://youtube.com/v/38MAY1sEf7U?enablejsapi=1&version=3" frameborder="0" allowfullscreen></iframe>
                <script>
                    function closeModal() {
                        document.getElementById('player').stop();
                    }
                </script>
            </div>
        </div>
        <div id="bodyHolder">
            @for (int i = 1; i <= 4; i++)
            {
                <table class="movieTable">
                    <tr>
                        @for(int j = 1; j <= 5; j++)
                        {
                            <td>
                                <a href="#modalOpen" class="moviePoster" style="background-image: url('@Model.ElementAt((((i - 1) * 5) + j) - 1).PictureURL');">
                                    <table class="movieInformation">
                                        <tr>
                                            <td>Title:</td>
                                            <td>@Model.ElementAt((((i - 1) * 5) + j) - 1).Title</td>
                                        </tr>
                                        <tr>
                                            <td>Released:</td>
                                            <td>@Model.ElementAt((((i - 1) * 5) + j) - 1).ReleaseDate</td>
                                        </tr>
                                        <tr>
                                            <td>Genre:</td>
                                            <td>@Model.ElementAt((((i - 1) * 5) + j) - 1).Genre</td>
                                        </tr>
                                        <tr>
                                            <td>Rating:</td>
                                            <td>&#8902;&#8902;&#8902;&#8902;</td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        }
                    </tr>
                </table>
            }
        </div>
    </body>
</html>