<!DOCTYPE html>
<html>
    <head>
        <title>Movie Shop - Buy The Newest Movies Online!</title>
        <style>
            body{
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
            }
            #backgroundImage{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url("http://www.ealuxe.com/wp-content/uploads/2014/01/couple-watching-tv-8538.jpg");
                background-size: cover;
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -ms-filter: blur(5px);
            }
        </style>
    </head>
    <body>
        <div id="backgroundImage"></div>
    </body>
</html>