
@{
    ViewBag.Title = "StartPage";
}
<h2>Index</h2>
<table class="table">
    <br>
        <b>@Html.ActionLink("Movies", "Index", "Movie")</b>
    </br>
    <br>
        <b>@Html.ActionLink("Genres", "Index", "Genres")</b>
    </br>
    <br>
        <b>@Html.ActionLink("Customers", "Index", "Customer")</b>
    </br>


</table>